// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');

@layer Typography {
  // :is(*, *::before, *::after) {
  //   font-family: "Noto Sans KR", sans-serif;
  // }
  
  html {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 62.5%;
  }
  
  body {
    font-size: 1rem;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
  }

  p {
    line-height: 1.6;
  }
}